.github
.gitignore
.vscode/**
.vscode-test/**
vsc-extension-quickstart.md
docs/images/ee-logo-lg.png
docs/images/vsc-ee-addon.gif
docs/images/vsc-ee-syntax-snippets.gif
webpack.config.json
out/test/**
src/**
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts