.github
.gitignore
.vscode/**
.vscode-test/**
vsc-extension-quickstart.md
docs/images/vsc-ee-syntax.png
docs/images/ee-logo-lg.png
webpack.config.json
out/test/**
src/**
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts